html, body{
    margin: 0;
    padding: 0;
    background-color: rgb(228, 228, 228);
}
.main{
    margin-left: 10%;
    width: 1170px;
}
.title{

}
.content{
    display: flex;
    justify-content: space-between;
}
.first-column{
    width: 300px;
    display: block;
}
h2{
    margin-top: 40px;
}
.second-column{
    width: 560px;
    padding-right: 200px;
    display: block;
}
.forms{
    width: 550px;
    margin-top: 33px;
    padding: 6px;
    font-size: 1em;
    text-align: center;
}
.Notification{
    display: inline-flex;
    width: 20px;
    margin-top: 45px;
}
#Password{
    margin-right: 358px;
    width: 200px;
}
.select{
    margin-top: 40px;
    padding-top: 8px;
    padding-bottom: 8px; 
    width: 220px;
}
.button{
    width: 150px;
    height: 40px;
    margin-bottom: 40px;
    margin-top: 40px;
    text-align: center;
    color: #fff;
    background-color:#1C40F0; 
}